#chart-wrapper {
  font-family: 'hiragino kaku gothic pro', meiryo;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
}

span[id *= "date"] {
  font-size: 14px;
  font-weight: 600;
  color: azure;
}

.easy-gantt {
  border-top: 0.1px solid #333;
  position: relative;
}

.hr {
  border-top: 1px solid rgba(250,250,250,0.5);
}
/* バブルの色 */
.easy-gantt .dev span.bubble, .nav.dev { background-color: #2b8fef; }
.easy-gantt .lecture span.bubble, .nav.lecture { background-color: #13d604; }
.easy-gantt .meeting span.bubble, .nav.meeting { background-color: #ffe74d; }
.easy-gantt .event span.bubble, .nav.event { background-color: #8470ff; }
.easy-gantt .absence span.bubble, .nav.absence { background-color: #ffc0cb; }
.easy-gantt .other span.bubble, .nav.other { background-color: #a9a9a9; }

.easy-gantt .scale {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
}

.easy-gantt .scale section {
  float: left;
  /* border-leftの線の太さを考慮して60 - 1する */
  width: 59px;
  text-align: center;
  background-color: #333;
  color: #979796;
  font-size: 14px;
  font-weight: lighter;
  border-left: 1px dashed rgba(250,250,250,0.2);
  height: 100%
}

.easy-gantt .data {
  font-size: 14px;
  padding: 0;
  margin: 30px 0 0 0;
  text-align: left;
  list-style-type: none;
  color: rgba(250,250,250,0.8);
}

.easy-gantt .data li div:not(.milestone) {
  margin: 0 0 3px 0;
  line-height: 20px;
  height: 20px;
  display: block;
  clear: both;
  position: relative;
  white-space: nowrap;
}

.easy-gantt .data li .time {
  color: #b5b5b5;
}

.easy-gantt .data li .label {
  font-weight: lighter;
  padding-left: 5px;
  line-height: 10px;
  color: #979796;
  white-space: nowrap
}

.easy-gantt .data li div:not(.milestone) .bubble {
  height: 10px;
  display: block;
  float: left;
  position: relative;
  top: 7px;
  border-radius: 4px;
  margin: 0 3px 0 0;
  opacity: 0.7;
}

/* マイルストンの三角形 */
.easy-gantt .milestone .bubble {
  height: 30px;
  bottom: 20px;
  display: inline-block;
  border-style: solid;
  border-width: 0 20px 35px 20px;
  left: -20px;
  border-color: transparent transparent #fc3232 transparent;
  position: relative;
  opacity: 0.7;
}

/* マイルストンの文字は三角にかぶらせる */
.easy-gantt .data li .milestone-span {
  text-align: center;
  width: 100%;
  position: absolute;
  font-weight: 900;
  -ms-transform: translate(-53.3%,30%);
  -webkit-transform: translate(-53.3%,30%);
  transform: translate(-53.3%,30%);
}

.easy-gantt li:hover {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
    opacity: 0.8;
}