#easygantt {
  font-family: 'hiragino kaku gothic pro', meiryo;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
}

#easygantt span[id *= "date"] {
  font-size: 14px;
  font-weight: 600;
  color: azure;
}

#easygantt .daily-area {
  border-top: 0.1px solid #333;
  position: relative;
}

#easygantt .hr {
  border-top: 1px solid rgba(250,250,250,0.5);
}
/* バブルの色 */
#easygantt .dev span.bubble, .nav.dev { background-color: #2b8fef; }
#easygantt .lecture span.bubble, .nav.lecture { background-color: #13d604; }
#easygantt .meeting span.bubble, .nav.meeting { background-color: #ffe74d; }
#easygantt .event span.bubble, .nav.event { background-color: #8470ff; }
#easygantt .absence span.bubble, .nav.absence { background-color: #ffc0cb; }
#easygantt .other span.bubble, .nav.other { background-color: #a9a9a9; }

#easygantt .scale {
  height: 100%;
  width: 100%;
  position: absolute;
}

#easygantt .scale section {
  float: left;
  /* border-leftの線の太さを考慮して60 - 1する */
  text-align: center;
  background-color: #333;
  color: #979796;
  font-size: 14px;
  font-weight: lighter;
  border-left: 1px dashed rgba(250,250,250,0.2);
  height: 100%
}

#easygantt .data {
  font-size: 14px;
  padding: 0;
  margin: 30px 0 0 0;
  text-align: left;
  list-style-type: none;
  color: rgba(250,250,250,0.8);
}

#easygantt .data li {
  margin: 0 0 3px 0;
  line-height: 20px;
  height: 25px;
  display: block;
  clear: both;
  position: relative;
  white-space: nowrap;
}

#easygantt .data li .time {
  color: #b5b5b5;
}

#easygantt .data li .label {
  font-weight: lighter;
  padding-left: 5px;
  line-height: 10px;
  color: #979796;
  white-space: nowrap
}

#easygantt div:not(.milestone) .bubble {
  height: 10px;
  display: block;
  float: left;
  position: relative;
  top: 7px;
  border-radius: 4px;
  margin: 0 3px 0 0;
  opacity: 0.7;
}

#easygantt .milestone .bubble {
  border-style: solid;
  border-width: 0 15px 22px 15px;
  border-color: transparent transparent #fc3232 transparent;
  opacity: 0.7;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#easygantt li:hover {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
    opacity: 0.8;
}